{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Kiran is a radiant soul painted with the vibrant hues of positivity and kindness. Her smiles are like
          sunbeams, warming the hearts of everyone she meets. Her inherent belief in the good within others shines
          through in every interaction, leaving a trail of understanding and laughter. Kiran's world is a vibrant
          tapestry woven with love for animals, the graceful movements of dance and ice skating, the joyful melodies
          of song, and the unwavering warmth of family. These are the threads that bind her spirit, each adding a
          unique spark to her personality.
        </p>
        <p>
          But Kiran is more than just sunshine and smiles. Behind her sweet and beautiful exterior lies the ambitious
          fire of an aspiring full-stack developer. With a curious mind and a thirst for knowledge, she's building
          herself a fortress of code, brick by digital brick. She tackles challenges with the grace of a dancer on ice,
          weaving solutions with the creativity of a songwriter. Kiran's spirit is a kaleidoscope of dreams, each facet
          reflecting her multifaceted talents and boundless potential.
        </p>
        <p>
          To know Kiran is to be embraced by her warmth, inspired by her optimism, and captivated by her unwavering
          pursuit of her dreams. She is a symphony of laughter and kindness, a melody of talent and ambition, and a
          testament to the beauty that blossoms when one chooses to shine brightly in the world.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
